.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
      
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
      
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
      
	/* Support for IE. */
	font-feature-settings: 'liga';
      }
.material-icons.md-24 { font-size:1.3rem; }
body{
	margin-top:5rem;
	weight:100%;
	height:1vh;
	background-image: url(wall.webp) ;
	background-size: 100%;
	background-repeat: repeat-x;
}
.maincontainer{

	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	width:100%;
	justify-content:center;
	
}
button{
	display: inline;
	border-radius:10%;
	width:5rem;
	height:2rem;
}

.deletetask{
	border-radius:50%;
	width:2.5rem;
	height: 2.5rem;
}

.alltasks{
	width:100%;
	font-size:1.7rem;
	font-weight:700;
	margin-top:1.3rem;
	display:flex;
	justify-content:space-around;

}

input[type="checkbox" i]{
	background-color:red;
	cursor: pointer;
	/* margin: 2rem 1rem 0 0 ; */
	width:1.8rem;
	height:1.5rem;
}

div .left , .right {
	width:30rem;
	height:16rem;
	background: transparent;
	border: 10px solid rgb(255, 215, 215);
	border-radius:20%;
	display:flex;
	flex-direction: column;
	place-items: center;
	padding:1.2rem 0 0 0 ;
}

.right{
	/* height:35rem; */
	/* make it variable however to change the height of the todo list */
}

#name , #task , .dateandbutton {
	margin: .5rem 0;
	border: 10px solid rgb(156, 94, 94);
	border-radius:1rem;
	width:15rem;
	height:2rem;
}

/*From here progress bar css begins ------------------------------------------------------------------------------------------------------*/
/*From here progress bar css begins ------------------------------------------------------------------------------------------------------*/

.container {
	/* margin: 60px auto; */
	width: 20rem;
	text-align: center;
	display:block;

}

.container .progress {
	margin: 0 auto;
	width: 20rem;
}

.progress {
	padding: 4px;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
	height: 16px;
	border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

/*
* Note: using adjacent or general sibling selectors combined with
*       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
*       See this article for more info and a potential fix:
*       https://css-tricks.com/webkit-sibling-bug/
*/

#five:checked~.progress>.progress-bar {
	width: 5%;
	background-color: #f63a0f;
}

#twentyfive:checked~.progress>.progress-bar {
	width: 25%;
	background-color: #f27011;
}

#fifty:checked~.progress>.progress-bar {
	width: 50%;
	background-color: #f2b01e;
}

#seventyfive:checked~.progress>.progress-bar {
	width: 75%;
	background-color: #f2d31b;
}

#onehundred:checked~.progress>.progress-bar {
	width: 100%;
	background-color: #86e01e;
}

.radio {
	display: none;
}

.label {
	display: inline-block;
	margin: 0 .2rem 1rem;
	padding: 3px 8px;
	color: rgb(255, 0, 0);
	text-shadow: 0 1px rgb(224, 127, 127);
	border-radius: 3px;
	cursor: pointer;
}

.radio:checked+.label {
	color: rgb(4, 0, 253);
	background: rgba(255, 167, 167, 0.25);
}

/* From here progress bar css ends ------------------------------------------------------------------------------------------------------*/
/* From here progress bar css ends ------------------------------------------------------------------------------------------------------*/
