.day17ParentDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    /* justify-content: center; */
    height: 500px;
    overflow-y: scroll;
    margin-top: 30px;
    padding: 0px 2em;
  
  }
  
  .foodList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    margin-top: 1.5rem;
    background-color: rgb(069, 069, 069);
    width: 100%;
    color: #fff;
    border-radius: 15px;
    padding: 1.1em;
  }
  
  .foodList h3 {
    color: #707070;
    padding-top: 4px;
  }
  
  .day17ParentDiv::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }
  
  .day17ParentDiv::-webkit-scrollbar-track {
    background: rgba(246, 197, 236, 0.3); /* color of the tracking area */
  }
  
  .day17ParentDiv::-webkit-scrollbar-thumb {
    background-color: rgb(225, 220, 220); /* color of the scroll thumb */
    border-radius: 40px; /* roundness of the scroll thumb */
  }