body{
	background:rgb(255, 255, 255);
}
.container{
	
	width:20rem;
	height:100rem;
}

.circle{
	width: 24rem;
        height: 24rem;
        position: absolute;
        top: -9rem;
        left: -4rem;
        opacity: .6;
	z-index: -1;
        background: #008cff;
	border-radius:50%;
	/* width:23rem;
	height:22rem;
	background:transparent;
	border: solid 1px blue;
                opacity: 0.3; */
}
.circle1{
	width: 20rem;
        height: 20rem;
        position: absolute;
        top: -9rem;
        left: 10rem;
        opacity: .3;
	z-index: -1;
        background: #ff01ea;
	border-radius:50%;
	/* width:23rem;
	height:22rem;
	background:transparent;
	border: solid 1px blue;
                opacity: 0.3; */
}
.buttons{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
h2{
	color:#fff;
	padding:0;
	margin: 0 0 3rem 1.5rem;
}

.buttons button{
	width:18rem;
	height:4rem;
	background-image: url(masd.png);
	background-color: blue;
	color:white;
	font-size:1rem;
	margin-top:.4rem;
	border-radius: 10%;;
}

.line{
	background-color:black;
	height:.4rem;
	width:50%;
	margin-left:25%;
	margin-top:11%;
	border-radius:1rem;


}

.overlay {
        z-index: 9;
        margin: 3rem 0 0 3rem;
        /* background: #009938; */
      }
      