.main-content
	.map-base
		.footsteps.footsteps-1
			.footstep.left
			.footstep.right
			.scroll-name 
				p Severus Snape
		.footsteps.footsteps-2
			.footstep.left
			.footstep.right
			.scroll-name 
				p Harry Potter
		.map-flap.flap--1
			.map-flap__front
			.map-flap__back
		.map-flap.flap--2
			.map-flap__front
			.map-flap__back
		.map-side.side-1
			.front(style="--image: url('https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/8.png')")
			.back
		.map-side.side-2
			.front(style="--image: url('https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/18.png')")
			.back
		.map-side.side-3
			.front(style="--image: url('https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/7.png')")
			.back
		.map-side.side-4
			.front(style="--image: url('https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/10.png')")
		.map-side.side-5
			.front(style="--image: url('https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/6.png')")
			.back
		.map-side.side-6
			.front(style="--image: url('https://meowlivia.s3.us-east-2.amazonaws.com/codepen/map/11.png')")
			.back
			
.instructions
	p 1. Enable Codepen to use your microphone.
	p 2. Map will open if you say "I solemnly swear that I'm up to no good."
	p 3. Map will close if you say "Mischief Managed!".
	p 4. Remember to speak clearly.
	br
	p This looks a lot better zoomed out (sorry).
	br
	p If you do not want to use a microphone, press this button!
	button.toggle-map.js-toggle Open/Close Map

aside.context
	.explanation
		| Part of the 
		a(href="https://codepen.io/collection/XJNKLz/" target="_blank") CSS Animations
		|  and 
		a(href="https://codepen.io/collection/DjwqvK/" target="_blank") Harry Potter
		|  collections.

footer
	a(href="https://twitter.com/meowlivia_" target="_blank")
		i.icon-social-twitter.icons
	a(href="https://github.com/oliviale" target="_blank")
		i.icon-social-github.icons
	a(href="https://dribbble.com/oliviale" target="_blank")
		i.icon-social-dribbble.icons