.overlay
.c
  .i
    %canvas#main{:width => '350',:height => '350'}
    %canvas#def{:width => '350',:height => '350'}
    %canvas#statistics{:width => '350',:height => '350'}
    %canvas#security{:width => '350',:height => '350'}
    %canvas#notifications{:width => '350',:height => '350'}
    %canvas#users{:width => '350',:height => '350'}
    .buy
      Buy Now
    .l
      loading...
    .bar
      .bar_item{'data-canvas' => 'statistics','data-color' => '#E58471'} 
        My Teddy Bear
        %span Super cute teddy
      .bar_item{'data-canvas' => 'security','data-color' => '#F4E1B0'} 
        My Dinosaur Bear
        %span Baby Dinosaur Teddy
      .bar_item{'data-canvas' => 'notifications','data-color' => '#5D99A8'} 
        My Robert Robot
        %span Beep boop bop
      .bar_item{'data-canvas' => 'users','data-color' => '#876869'} 
        My Bunny Teddy
        %span Ahhhh, what's up doc?