.content 
  .notebook-page 
    textarea#msg
    .text-edit
      | Dear Evan Hansen,
      br
      br
      | Today is going to be a good day. And here's why: because today, today at least you're you and — that's enough.
      br
      br
      | Sincerely, 
      br
      | Me.
  
  aside.context
    .explanation 
      | Inspired by the musical 
      a(href="https://dearevanhansen.com/" target="_blank") 'Dear Evan Hansen'
      
  footer
    a(href="https://www.linkedin.com/in/oliviale/" target="_blank")
      i.icon-social-linkedin.icons
    a(href="https://twitter.com/meowlivia_" target="_blank")
      i.icon-social-twitter.icons
    a(href="https://github.com/oliviale" target="_blank")
      i.icon-social-github.icons
    a(href="https://dribbble.com/oliviale" target="_blank")
     i.icon-social-dribbble.icons