.container
	nav.nav
		.nav__logo 
			span I
			span KNOW
			span PLACES
		.nav__links
			.nav__item.active Home
			.nav__item About
			.nav__item Categories
			.nav__item Contact
	.hero
		img(src="https://assets.codepen.io/567707/woman-travels.png" alt="Woman Traveler")
		.hero__search
			h1 200+ travel guides written by a digital nomad.
			form
				.form__wrapper
					input(type="text" placeholder="Search articles")
					button.send Search
						
	section.categories
		.categories__title
			h3 Popular Countries
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145.66 83.26"><path d="M.48,3.59c28.77,38.47,78.2,58.53,125.65,51,3.16-.5,1.82-5.32-1.33-4.82-45,7.17-92.7-12.18-120-48.67C2.9-1.48-1.45,1,.48,3.59Z"/><path d="M117,82.52l20.79-21.07c4.06-4.11,9.74-9,7.24-15.47-2.38-6.16-10.46-9-15.76-11.83l-26-13.73c-2.85-1.51-5.38,2.81-2.53,4.31L119.83,34.8c5.86,3.1,13.15,5.75,18.2,10.11,6.86,6-4.44,13.7-8.6,17.92L113.49,79c-2.26,2.29,1.27,5.83,3.53,3.54Z"/></svg>
			
		.categories__choices
			.categories__item
				img.sepia(src="https://assets.codepen.io/567707/gg-rome.jpeg" alt="Rome")
				h5 Italy
			.categories__item
				img.sepia(src="https://assets.codepen.io/567707/gg-peru.jpeg" alt="Peru")
				h5 Peru
			.categories__item
				img.sepia(src="https://assets.codepen.io/567707/gg-osaka2.jpeg" alt="Osaka")
				h5 Japan
				
		
	section.articles
		h3 Latest Articles
		.articles__items
			.articles__item
				img.articles__photo(src="https://assets.codepen.io/567707/gg-kyoto.jpeg")
				.articles__info 
					p No Stupid Questions: Everything You Need To Know About Japan
					span.tag Japan
					span.tag.continent Asia
			.articles__item
				img.articles__photo(src="https://assets.codepen.io/567707/gg-mexico.jpg")
				.articles__info 
					p Guide: Getting From Cancun to Chichen Itza
					span.tag Mexico
					span.tag.continent North America
			.articles__item
				img.articles__photo(src="https://assets.codepen.io/567707/gg-austria.jpeg")
				.articles__info 
					p Should You Visit Halstatt? A Quick Guide and Other Lovely Alternatives in Austria
					span.tag Austria
					span.tag.continent Europe
			.articles__item
				img.articles__photo(src="https://assets.codepen.io/567707/gg-budapest.jpg")
				.articles__info 
					p 10 Dishes You Should Try When You're in Hungary
					span.tag Hungary
					span.tag.continent Europe
			.articles__item
				img.articles__photo(src="https://assets.codepen.io/567707/gg-bali2.jpeg")
				.articles__info 
					p I spent a day as an Instagram influencer. It was pretty dope, but also pretty exhausting.
					span.tag Indonesia
					span.tag.continent Asia
			.articles__item
				img.articles__photo(src="https://assets.codepen.io/567707/gg-osaka.jpeg")
				.articles__info 
					p 6 Stunning Day Trips You Can Take from Osaka
					span.tag Japan
					span.tag.continent Asia
		.center
			button.big Load More...
			
			
	.more-info
		.image
			img(src="https://assets.codepen.io/567707/palette-1989.png" alt="Taylor Swift album")
		p Part of the 
			a(href="https://codepen.io/collection/XPxJmz") UI Designs inspired by Taylor Swift Album Covers
			|  collection. This is 
			em 1989 (2014)
			|.
	