.Header
  .Header-background
  .Header-content
    .Header-hero
      h1 The best app you've #[br] ever seen
      p You'll be blown away with all it does
      button.Button Sign up
    .Header-visuals
      .Iphone