.loader
    .loader_inner
#canvas
.ui
    .noise
    .vig
    .bloom
    .fullscreen
        %i.fa.fa-expand
    .logo
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/notEarthLogo.png'}
    .gems
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/gemsBg.png'}
    .friends
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/friendsBg.png'}
    .follow
        %a{:href => 'https://codepen.io/jcoulterdesign', :target => '_blank'}
            %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/followBg.png'}
    .left.button
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/arrowBg.png'}
    .right.button
        %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/arrowBg.png'}
    .box
        .box_inner{'data-deep-ui' => 'true', 'data-deep-animate' => 'false', 'data-deep-animate-time' => '.7'}
            .box_inner__title{'data-depth' => '20'}
                Noob loot crate
            .box_inner__decal
                %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/decalBg.png'}
            .box_inner__text{'data-depth' => '10'}
                You probably wont get much in this loot crate to be honest, but what can you expect for such a low cost?
            .box_inner__cost{'data-depth' => '31'}
                .left
                    %i.fa.fa-diamond
                .right
                    20,000
            .box_inner__cta{'data-depth' => '31'}
                %span{'data-depth' => '44'} Buy with credits