
body {
  background: #fff;
  font-family: 'Libre Baskerville', serif;
	line-height: 1.5;
}

* {
	box-sizing: border-box;
}

input, textarea, select {
	font: 16px 'Libre Baskerville';
}

input[type="button"] {
	margin: 40px 0 0;
	background: #111;
	border: 0;
	border-radius: 6px;
	color: #fff;
	padding: 15px;
	font-size: 20px;
	min-width: 200px;
	cursor: pointer;
	outline: none;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

aside.context {
	text-align: center;
	color: #333;
	line-height: 1.7;
	a {
		text-decoration: none;
		color: #333;
		padding: 3px 0;
		border-bottom: 1px dashed;
		&:hover {
			border-bottom: 1px solid;
		}
	}
	.explanation {
		max-width: 700px;
		margin: 7em auto 0;
	}
}

footer {
  text-align: center;
  margin: 2em auto;
  width: 100%;
  a {
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: transparent;
		border: 1px dashed #333;
    color: #333;
    margin: 5px;
    &:hover {
      background: rgba(0,0,0,0.1);
    }
    .icons {
      margin-top: 12px;
      display: inline-block;
      font-size: 20px;
    }
  }
}

header {
	max-width: 700px;
	margin: 3em auto;
	font: 24px/1.5 'Libre Baskerville';
	text-align: center;
	padding: 0 20px;
	p {
		margin-bottom: 15px;
	}
}

main {
	position: relative;
	margin: 5em auto;
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.your-face {
	border: 2px dashed #ccc;
	cursor: pointer;
	position: relative;
	border-radius: 4px;
	width: 100%;
	padding: 20px;
	display: block;
	.image-persuader {
		text-align: center;
		font-weight: 700;
		color: #555;
	}
	input {
		display: none;
	}
}

.design {
	background: #f6f6f6;
	width: 550px;
	border: 1px solid #ddd;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1), 0 5px 20px rgba(0,0,0,0.1);
	padding: 20px;
	overflow: visible !important;
	.alphabet {
		text-align: right;
		font-weight: 700;
		font-size: 34px;
		text-transform: capitalize;
		letter-spacing: 2px;
	}
	section {
		padding: 0 35px;
		margin-top: 6em;
	}
	.word {
		font: 700 45px/.9 'Libre Baskerville', serif;
		word-break: break-all;
	}
	.type {
		font: italic 500 28px 'Libre Baskerville', serif;
		margin: 10px 0;
	}
	.context {
		margin: 25px 0;
		width: 90%;
	}
	.image {
		font-style: italic;
		text-align: center;
		margin: 3em 0;
		width: 100%;
		overflow: hidden;
		#imager {
			width: auto;
			height: 300px;
			border: 1px solid;
			margin: auto;
			position: relative;
		}
		p {
			display: block;
			margin-top: 8px;
		}
	}
}

/*forms*/

form.inputs {
	margin: 0;
	max-width: 550px;
	padding: 50px;
	border: 2px solid #ccc;
	border-width: 2px 0 2px 2px;
	h2 {
		font: 700 30px/1.2 'Libre Baskerville', serif;
		text-align: center;
		margin-bottom: 2em;
	}
}

.input__wrapper {
	position: relative;
	margin: 40px 0;
	label {
		position: absolute;
		background: #fff;
		top: -18px;
		left: 15px;
		display: inline-block;
		padding: 5px 8px;
		font-weight: 700;
		color: #555;
	}
	input[type="text"],textarea {
		height: 55px;
		padding: 22px;
		border-radius: 4px;
		border: 2px solid #ccc;
		outline: none;
		width: 100%;
		&:focus {
			border-color: purple;
			+ label { 
				color: purple;
			}
		}
	}
	textarea {
		resize: vertical;
		min-height: 80px;
	}
}

input[type="radio"] {
		opacity: 0;
		position: absolute;
		&:checked + label:after {
			content: '';
			position: absolute;
			width: 12px;
			height: 12px;
			top: 7px;
			left: -18px;
			background: #555;
			border-radius: 50%;
		}
		+ label {
			position: relative;
			top: 0;
    	padding: 0 5px;
			margin: 0 50px 0 8px;
			cursor: pointer;
			font-weight: 500;
			&:before {
				content: '';
				position: absolute;
				width: 16px;
				height: 16px;
				border: 2px solid;
				border-radius: 50%;
				left: -22px;
				top: 3px;
			}
		}
	}
	
.radio-label {
	margin-bottom: 50px;
	span:nth-child(1) {
		font-weight: 700;
		color: #555;
		display: block;
		margin: 0 0 15px;
	}
}

#save-image {
	position: absolute;
	bottom: -20px;
	right: 10%;
	padding: 15px 25px;
	transform: rotate(-5deg);
	transition: .2s ease;
	&:hover {
		transform: rotate(5deg);
	}
}

@media screen and (max-width:1100px) {
	form.inputs {
		flex: 1 1 100%;
		border-width: 2px;
		margin-bottom: 4em;
	}
}