.wrapper
  ul
    li.item 
      span.text Item 1
      ul.sub
        li.item
          span.text Item 1-1
        li.item
          span.text Item 1-2
    li.item
      span.text Item 2
      ul.sub
        li.item
          span.text Item 2-1
          ul.sub
            li.item
             span.text Item 2-1-1
            li.item
             span.text Item 2-1-2
             ul.sub
              li.item
               span.text Item 2-1-2-1
              li.item
               span.text Item 2-1-2-2
              li.item
               span.text Item 2-1-2-3
              li.item
               span.text Item 2-1-2-4
        li.item
          span.text Item 2-2
          ul.sub
            li.item
              span.text Item 2-2-1
            li.item
              span.text Item 2-2-2
    li.item
      span.text Item 3
      ul.sub
        li.item
          span.text Item 3-1
        li.item
          span.text Item 3-2
          ul.sub
            li.item
              span.text Item 3-1-1
              ul.sub
                li.item
                  span.text Item 3-1-1-1
        