h2 {
    color: #000000;
    background-color: rgb(89, 151, 0);
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: rgb(0, 0, 0);
    font-family: 'Lobster', cursive;
    background: rgb(255, 255, 255);
}

body {
    background-color: rgba(192, 191, 194, 0.767);
}

h1 {
    text-align: center;
    font-weight: 100;
    text-decoration: #20ff03 underline wavy;
    letter-spacing: 15px;
    font-size: 50px;
    /* font-family: Segoe UI, Futura, Arial, sans-serif; */
    font-family: monospace;
}

div:nth-child(2n+1){
    color:palevioletred;
}

a {
    text-decoration:navy;
}

p {
    line-height: 2;
}
