 body {
 	/* background-image: url(giphy.webp) ;  */
 	background-size: fill;
 	object-fit: cover;

 }

 #canvas {
 	border: 1px solid black;
 }

 .features {
 	display: flex;
 	align-items: center;
 	justify-content: space-evenly;
 	/* width:100%; */
 	padding-top: 1rem;
 }

 ul {
 	margin: 0;
 	padding: 0;
 }

 ul>li {
 	list-style-type: none;
 	padding: 0.5em;
 }

 img {
 	width: 30px;
 	height: 30px;
 }

 button {
 	width: 50px;
 	height: 36px;
 }

 .dark {
 	filter: invert(1);
 	-webkit-filter: invert(1);
 }

 

 .stroke-color {
	border-radius: 50%;
	border: none;
	width: 30px;
	height: 30px;
	opacity: 0.7;
	/* display: inline-block; */
    }
   
    .active {
	opacity: 1;
    }