.container
  %h1 Menu Button to Hamburger
  %p.sub-title Styled & Animated With Pure CSS
  %button{} Menu
  %div.buttons
    %ol
      - 20.times do
        %li
          %button{:class => 'menu-toggle'} Menu