main
	section
		h1
			| A CSS experiment for heads popping up in your slides
		h3 As done by 
			a(href="https://twitter.com/hj_chen" target="_blank") Chen Hui Jing
			|  in 
			a(href="https://dev.to/huijing/css-variables-for-fun-and-no-profit-28ic" target="_blank") this article here.
		p
			strong What's Going On Here?
			br
			span 
				| Using CSS Animations to change the values of 
				code translateX
				| , 
				code translateY
				| , and 
				code rotate
				|  and then setting the animation to run infinitely.
		p
			strong Limitations:
			br
			span There can only be a limited variety of head popping styles as compared to randomizing the location of the head each time with JavaScript like she did (read the article!).
	
	
	img.head(src="https://singaporecss.github.io/talk.css/img/chris.png" alt="Spider-Man")