
body{
	background-color: #f1faee;
	color:#1d3557;
	position:absolute;     
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);


}

#imgtv1{
	width:600px;

}

.allelem{
	/* Not working? */
	background-image: url(download.jpg)  ;
	border: 10px solid #a8dadc;
	border-radius: 4px;
	padding:2%  0 2% 7% ;
	width:650px;
	height: auto;
	margin-left:12.5%;
	
}


.total{
	width:350px;
	height:25%;
	color:#f1faee;
	background-color:#457b9d;
	border: 2px solid #1d3557;
	
}

h1 , .total {

	margin-left: 22%;
}

h1{
	color:#023047;
	padding-left: 7%;
}
.seats , .bookbox {

	height: 400px;
	width: 600px;
	background-color: #457b9d;
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(6,1fr);
	grid-gap: 1px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid rgb(0, 0, 0);
	      }

    /* task  Have to flip the img */
.allseats{
	height: 50px;
	width: 100px;
	background-color: #dfd;
	background-image: url(right.jpg) ;

}

.active{
	background-color: #e63946;
	background-image: url(wrong.jpg);

    }